body .footer {
    padding: 25px;
    background-color: #15151E;
}

body .footer .wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body .footer .wrapper .info {
    width: 35%;
}

body .footer .wrapper .info h2 {
    font-family: Formula1;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 15px;
}

body .footer .wrapper .info p {
    font-family: TitilliumWeb;
    color: #fff;
    text-align: justify;
    font-size: 1rem;
}

body .footer .wrapper .redes {
    padding-left: 25px;
    width: 30%;
}

body .footer .wrapper .redes h2 {
    font-family: Formula1;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 15px;
}

body .footer .wrapper .redes table tr td {
    font-family: TitilliumWeb;
    color: #fff;
    font-size: 1rem;
    text-align: justify;
}

body .footer .wrapper .redes table tr td img {
    margin-right: 5px;
}

body .footer .wrapper .contacto {
    width: 35%;
}

body .footer .wrapper .contacto h2 {
    font-family: Formula1;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 15px;
}

body .footer .wrapper .contacto table tr td {
    font-family: TitilliumWeb;
    color: #fff;
    font-size: 1rem;
    text-align: justify;
}

body .footer .wrapper .contacto table tr td img {
    margin-right: 5px;
}